@keyframes detector-motion {
  0% {
    transform: translate(-50px, -30px) rotate(0deg) scale(1);
  }
  10% {
    transform: translate(-70px, -120px) rotate(-30deg) scale(0.7);
  }
  20% {
    transform: translate(-20px, -90px) rotate(45deg) scale(1.5);
  }
  50% {
    transform: translate(-50px, 30px) rotate(20deg) scale(0.7);
  }
  60% {
    transform: translate(70px, -30px) rotate(200deg) scale(1.2);
  }
  80% {
    transform: translate(80px, 70px)  rotate(270deg) scale(0.9);
  }
  80% {
    transform: translate(120px, -70px)  rotate(-30deg) scale(1);
  }
  100% {
    transform: translate(-50px, -30px)  rotate(0deg) scale(1);
  }
}

@keyframes detector-scale {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  40% {
    transform: scale(0.7);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.detector {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  stroke: $l-blue;
  animation-name: detector-motion;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.detector__center {
  animation-name: detector-scale;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  transform-origin: center;
}
