@keyframes noise {
  0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
    opacity: 0.5;
  }
  5%, 15%, 25%, 35%, 45%, 55%, 65% {
    opacity: 0.75;
  }
  75%, 85%, 95% {
    opacity: 1;
  }
}

@keyframes linear-noise {
  0% {
    opacity: 1;
    transform: scaleY(0.5) translateY(0);
  }
  4%, 8%, 12%, 24%, 36% {
    transform: scaleY(0.5);
  }
  2%, 6%, 10%, 18%, 30% {
    transform: scaleY(0.1);
  }
  50% {
    opacity: 0.3;
    transform: scaleY(1.5);
  }
  100% {
    opacity: 1;
    transform: scaleY(1) translateY(-220%);
  }
}

.page__main {
  display: flex;
  min-height: 100vh;
}

.page__container {
  position: relative;
  display: flex;
  min-width: $screen-w;
  height: 100vh;
  min-height: $screen-h;
  margin: auto;
  background-image: url("../img/placeholder.jpg");
  background-size: cover;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
  }

  &::before {
    z-index: 10;
    height: 100%;
    background-color: $blue;
    animation-name: noise;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    mix-blend-mode: multiply;
  }

  &::after {
    top: 0;
    left: 0;
    z-index: 20;
    height: 200%;
    background-image: linear-gradient(to bottom, #550055 20px, #ffffff 20px);
    background-size: 100% 40px;
    animation-name: linear-noise;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    mix-blend-mode: hue;
  }
}
