// Основные цвета от светлого к темному
$bg-color: #f7f5f0;  // фон сайта

$l-orange: #f39156;  // кнопки, сслылки, состояние при наведении
$orange: #f28443;  // кнопки, ссылки, состояние покоя, блоки ввода, фокус
$d-orange: #e67d40; // кнопки, ссылки, нажатие

$grey-1: #e1e6e6;  // цвет рамок сеточных блоков, блоков ввода
$grey-2: #969999;  // светлый текст
$grey-3: #404040;  // основной текст

$l-grey-1: #fafafa;  // кнопки, состояние покоя
$l-grey-2: #f0f0f0;  // кнопки, состояние наведения

// Основные размеры экранов
$s-screen: 320px;
$m-screen: 768px;
$l-screen: 980px;

// Основные размеры полей
$s-field: 15px;
$m-field: 20px;
$l-field: 30px;

// Разрешение ретины
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
