// Основные цвета от светлого к темному
$bg-color: #020810;  // фон сайта

$l-blue: #22ecff;  // текст
$blue: #017ad8;  // цвет экрана

// Основные размеры экранов
$screen-w: 640px;
$screen-h: 480px;

// Основные размеры полей
$s-field: 10px;
$m-field: 25px;
$l-field: 50px;
